<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiehaixin.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RecyclerViews.HorRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViews.LinearRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViews.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.GridViewActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".TextViewActivity"
            android:exported="false" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>